.button-text{
    width: 31rem;
    height: 6rem;
font-size: 2rem;
font-weight: 800;
font-family: "K2D";
  font-style: normal;
  
}

.button-text a{
     text-decoration: none;
     color: black;
}
.pinch{
    transition: 1s;
}
.pinch:hover{
transform: scale(0.9,0.9);
text-decoration: underline;
cursor: pointer;
}



.border-button{
    border: .2rem solid black;
    border-top-right-radius: 15px; 
  border-bottom-left-radius: 15px;
    box-shadow: .5rem .5rem #222;
}

.bg-light-pink img{
    width: 4rem;
    height: 4rem;
    
}

.button-light-pink{
    width: 31rem;
    height: 10rem;
}

.bg-blue img{
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
}

.right{
    display: flex;
    justify-content: right;
    padding-top: 3rem;
    padding-right: 14rem;
}

.center{
    display: flex;
    justify-content: center;
    
}
.left{
    display: flex;
    padding-left: 6rem;
}
.view-contact{
    
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr   ;


}
.network-icon{
    color: black;
    font-size: 3.3rem;
    transition: .7s;
}

.pinch .gmail:hover{

color: red;
}
.pinch .git:hover{
color: orangered;
}

.pinch .linkedin:hover{
color: blue;
}

.pinch .wpp:hover{
color: green;
}

/* .network-icon{}

.network-icon{}

.network-icon{} */