.button-text{
    width: 31rem;
    height: 6rem;
font-size: 2rem;
font-weight: 800;
font-family: "K2D";
  font-style: normal;
}




.border-button{
    border: .2rem solid black;
    border-radius: .7rem;
    box-shadow: .5rem .5rem black;
}

.bg-light-pink img{
    width: 4rem;
    height: 4rem;
    
}

.button-light-pink{
    width: 31rem;
    height: 10rem;
}

.bg-green img{
    width: 2rem;
    height: 2rem;
}

.right{
    display: flex;
    justify-content: right;
    padding-top: 3rem;
    padding-right: 14rem;
}

.center{
    display: flex;
    justify-content: center;
    
}
.left{
    display: flex;
    padding-left: 6rem;
}
.view-contact{
    
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr   ;


}