.NavContainer{
    margin: 0;
    height: 6vh;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-bottom: .2rem solid ;
    border-color: linear-gradient(to right, blue #fff);; */
    font-family: 'K2D';
    font-style: normal;
    font-weight: 800;
    font-size: 1.5rem;
    position: fixed;
    text-decoration: none;
    width: 100%;
    background: #222;
    column-gap: 10rem;
}

.NavContainer span{
    color: #eff7ff;
    margin-right: 4rem;
}

a {
    text-decoration: none;
    color: #eff7ff;
}