:root{
    --light-blue : #eff7ff;
    --light-dark : #222;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "K2D", "JetBrains Mono";
  font-style: normal;
  min-height: 100vh;
}


.bg-light-blue{
    background-color: var(--light-blue);
}

.bg-light-dark {
    background-color: var(--light-dark);
}
.bg-white{
    background-color: #FFFFFF;
}
.bg-blue{
    background-color: #228bff;
}
.bg-light-dark{
   background-color:  #222;
}
.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr  ;
    padding-top: 6vh;
   overflow: hidden;
}

.container-center-element{
    place-items: center;
}

.center-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.border-box{
    border-top-right-radius: 20px; 
  border-bottom-left-radius: 20px;  
}

::-webkit-scrollbar {
 
  border-color: black;
   background-color: transparent;
   height: .5rem;
   
    
}
::-webkit-scrollbar-thumb{
   border-radius: 10px;
  border:.1rem solid transparent;
  background-color: #228dff6b;
}