


.rectangle-img img{
   width: 5.5rem; 
   height: 5.5rem; 
}

.containerSkills{
      display: grid;
      min-height: 100vh;
  grid-template-rows: repeat(2, 1fr);
}
.column{
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    
   margin-top: 1rem;
}
.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    font-size: 2rem;
    font-weight: 900;
    

}
.text-titles{
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 3px;
}
.content-dark-skills h1, .content-dark-skills span{
    color: beige;
    font-size: 1.7rem;

}
